body{
  width: 960px;
}

nav>p{
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 15px;
  margin-top: 30px;
  float: right;

}

#top{
  margin-top: 15px;
  margin-bottom: 15px;
}

#middle{
  margin-top: 30px;
  margin-bottom: 30px;
}

.middleimg{
  padding-left: 26px;
  padding-right: 26px;
}

#bottom{
  margin-top: 15px;
  margin-bottom: 15px;

}

.bottombar{
  display: inline-block;
}

#scrollbar{
  width: 410px;
  height: 380px;
  overflow: scroll;
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px
  }

button{
  position: absolute;
  margin-right: 330px;
  margin-left: 30px;
  margin-top: 382px;
  width: 100px;
  background-color: #DDD;
  width: 150px;
}

button:hover {
  cursor: pointer;
  transition: ease-in-out;
  background-color: red;
  transition-duration:350ms;
}

#foot{
  margin-top: 30px;
  background-color: #DDD;
  height: 5em;
}

article>h1{
  text-align: center;
}